<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<form th:action="@{/changePassword}" method="post" enctype="multipart/form-data" th:object="${changePasswordForm}">
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <input type="password" th:field="*{password}" placeholder="현재 비밀번호" required><br><br>
    <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
    <input type="password" th:field="*{newPassword}" placeholder="새 비밀번호" required><br>

    <div th:if="${#fields.hasErrors('newPasswordForCheck')}" th:errors="*{newPasswordForCheck}"></div>
    <input type="password" th:field="*{newPasswordForCheck}" placeholder="새 비밀번호 확인" required><br>
    <button type="submit">비밀번호 변경</button>
</form>
</body>
</html>