<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<form th:action="@{/sms-certification/confirm}" method="post" th:object="${resetPasswordAuthForm}">
    <div>
        <input type="text" id="phoneNumber" placeholder="전화번호" required><br>
        <button type="button" onclick="submitForm()">요청</button>
    </div>
    <div th:if="${#fields.hasErrors('authCode')}" th:errors="*{authCode}"></div>
    <div>
        <input type="text" th:field="*{authCode}" placeholder="인증 코드" required><br>
        <button type="submit">인증</button>
    </div>

    <script>
        function submitForm() {
            var phoneNumber = $("#phoneNumber").val(); // Thymeleaf의 폼 데이터를 가져옴

            $.ajax({
                type: "POST",
                url: "/sms-certification/send", // POST 요청을 보낼 URL
                data: { phoneNumber: phoneNumber }, // 전송할 데이터
                success: function(response) {
                    // 성공적으로 서버로부터 응답을 받은 경우 수행할 작업
                    console.log("Success:", response);
                },
                error: function(xhr, status, error) {
                    // 서버로 요청을 보내는 중에 오류가 발생한 경우 수행할 작업
                    console.error("Error:", error);
                }
            });
        }
    </script>
</form>
</body>
</html>