<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이력서 수정</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="resumeDetails" class="container mt-4">
    <h2 class="text-center mb-4">이력서 확인</h2>
    <form id="resumeUpdating" action="#" th:method="post" th:object="${resume}" enctype="multipart/form-data">
        <div class="mb-3">
            <!-- 이미지 미리보기를 위한 엘리먼트 -->
            <label class="form-label">프로필 사진</label><br>
            <img id="profileImagePreview" th:src="@{'/path/to/profile/image/' + ${resume.idPhoto}}" style="max-width: 200px; max-height: 200px;" /><br>
            <input type="file" class="form-control" onchange="previewImage(this)" th:field="*{idPhoto}" accept="image/*">
        </div>
        <div class="mb-3">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <label th:for="*{name}" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" th:value="${resume.name}" >
        </div>
        <div class="mb-3">
            <div th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
            <label th:for="*{birthdate}" class="form-label">생년월일</label>
            <input type="date" class="form-control" th:field="*{birthdate}" th:value="${resume.birthdate}" >
        </div>
        <div class="mb-3">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <label th:for="*{email}" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" th:value="${resume.email}" >
        </div>
        <div class="mb-3">
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
            <label th:for="*{phoneNumber}" class="form-label">전화번호</label>
            <input type="tel" class="form-control" th:field="*{phoneNumber}" th:value="${resume.phoneNumber}" >
        </div>
        <div class="mb-3">
            <div th:if="${#fields.hasErrors('selfIntroduction')}" th:errors="*{selfIntroduction}"></div>
            <label th:for="*{selfIntroduction}" class="form-label">자기소개</label>
            <input type="text" class="form-control" id="address" th:field="*{selfIntroduction}" th:value="${resume.selfIntroduction}" >
        </div>
        <!-- 경력 섹션 -->
        <div class="mb-4">
            <h4 class="mb-3">경력</h4>
            <div class="row">
                <div class="col">
                    <label class="form-label">최종 경력</label>
                    <select th:value="${resume.careerExperience}" th:field="*{careerExperience}" required>
                        <option th:each="carrer : ${T(kimchisoup.matchingjob.entity.common.CareerExperience).values()}"
                                th:value="${carrer}" th:text="${carrer.desc}"></option>
                    </select>
                    <label class="form-label">최종 학력</label>
                    <select th:value="${resume.educationField}" th:field="*{educationField}" required>
                        <option th:each="education : ${T(kimchisoup.matchingjob.entity.common.EducationField).values()}"
                                th:value="${education}" th:text="${education.desc}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('portfolio')}" th:errors="*{portfolio}"></div>
                    <input type="text" class="form-control" th:value="${resume.portfolio}" th:field="*{portfolio}">
                    <div th:if="${#fields.hasErrors('projects')}" th:errors="*{projects}"></div>
                    <input type="text" class="form-control" th:value="${resume.projects}" th:field="*{projects}">
                </div>
            </div>
        </div>
        <!-- 기타 섹션 -->
        <div class="mb-4">
            <h4 class="mb-3">기타</h4>
            <div class="mb-3">
                <label class="form-label">Skills</label>
                <textarea class="form-control" th:text="${resume.skills}" th:field="*{skills}"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">자격증</label>
                <textarea class="form-control" th:text="${resume.certificate}" th:field="*{certificate}"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">수상 내역</label>
                <textarea class="form-control" th:text="${resume.awards}" th:field="*{awards}"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Link</label>
                <textarea class="form-control" th:text="${resume.link}" th:field="*{link}"></textarea>
            </div>
        </div>

        <button th:id="submit-button" type="submit" class="btn btn-primary btn-block">제출</button>
        <script>
            $(document).ready(function() {

                // 제출 버튼을 클릭하면 이 함수가 호출됩니다.
                $('#submit-button').click(function() {
                    // 현재 페이지 URL에서 ID 값을 추출합니다.
                    console.log("자바스크립트 실행 시작");
                    var resumeId = getIdFromUrl();

                    // AJAX 요청을 보냅니다.
                    $.ajax({
                        type: 'POST', // 또는 'GET', 'PUT' 등 HTTP 요청 방법을 선택합니다.
                        url: '/resume/update/' + resumeId, // 서버의 엔드포인트와 ID를 포함한 URL을 지정합니다.
                        success: function(response) {
                            // 성공적으로 서버에서 응답을 받았을 때 실행할 코드를 작성합니다.
                            console.log('서버 응답:', response);
                        },
                        error: function(xhr, status, error) {
                            // 오류가 발생했을 때 실행할 코드를 작성합니다.
                            console.error('오류:', error);
                        }
                    });
                });

                // 현재 페이지 URL에서 ID 값을 추출하는 함수
                function getIdFromUrl() {
                    // 현재 페이지 URL을 가져옵니다.
                    var url = window.location.href;
                    // URL에서 마지막 '/' 이후의 문자열을 추출하여 ID로 사용합니다.
                    var resumeId = url.substring(url.lastIndexOf('/resume/update/') + 1);
                    console.log(url + resumeId);
                    return resumeId;
                }
            });

            function previewImage(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('#profileImagePreview').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    </form>

</div>
</body>
</html>